@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-averta-std: var(--font-averta-std);
  --font-grutch-shaded: var(--font-grutch-shaded);
  --font-museo: var(--font-museo);
  --font-sketch-block: var(--font-sketch-block);
  --font-wc-rough-trad: var(--font-wc-rough-trad);
  --font-cabin-sketch: var(--font-cabin-sketch);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
